<?xml version="1.0"?>
<sdf version="1.10" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="wall_fortress">
        <xacro:include filename="$(find gz_sim_description)/models/wall/model.sdf.xacro" ns="wall" />
        <xacro:include filename="$(find gz_sim_description)/models/white_floor/model.sdf.xacro"
            ns="white_floor" />
        <!-- ++++++++++++++++++++++++++++++++++ Parameters
    +++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <xacro:property name="wall_length_north_south" value="${white_floor.y_size_floor}" />
        <xacro:property name="wall_length_east_west"   value="${white_floor.x_size_floor - 2*wall.width}" />
        <xacro:property name="wall_x_pose" value="${white_floor.x_size_floor / 2 - wall.width / 2}" />
        <xacro:property name="wall_y_pose" value="${white_floor.y_size_floor / 2 - wall.width / 2}" />
        <xacro:property name="wall_z_pose" value="${wall.height / 2}" />
        <xacro:property name="wall_z_orientation" value="1.5708" /> <!-- 90 degrees in radians -->

        <xacro:wall.wall suffix="North"
            length="${wall_length_north_south}"
            pose="${dict(x=wall_x_pose,y=0,z=wall_z_pose,x_o=0,y_o=0,z_o=0)}" />
        <xacro:wall.wall suffix="South"
            length="${wall_length_north_south}"
            pose="${dict(x=-wall_x_pose,y=0,z=wall_z_pose,x_o=0,y_o=0,z_o=0)}" />
        <xacro:wall.wall suffix="East"
            length="${wall_length_east_west}"
            pose="${dict(x=0,y=wall_y_pose,z=wall_z_pose,x_o=0,y_o=0,z_o=-wall_z_orientation)}" />
        <xacro:wall.wall suffix="West"
            length="${wall_length_east_west}"
            pose="${dict(x=0,y=-wall_y_pose,z=wall_z_pose,x_o=0,y_o=0,z_o=wall_z_orientation)}" />

    </xacro:macro>
</sdf>