<?xml version="1.0"?>

<model>
  <name>Obstacle Scenario</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>https://app.gazebosim.org/danml1</name>
    <name>Ivan</name>
    <email>ivandinizdobbin2@gmail.com</email>
  </author>

  <description>
   A scenario with multiple obstacles.
  </description>
</model>
