<?xml version="1.0"?>
<model>
  <name>Vehicle blue</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>https://gazebosim.org/docs/latest/building_robot/</name>
    <name>Ivan</name>
  </author>

  <description>
    A simple robot for testing.
  </description>
</model>