<?xml version="1.0"?>
<model>
  <!-- I could not find any instance of gazebo or ros using this name, ignore it. -->
  <name>amr_robot_model_config_name</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Dharini Dutia</name>
    <email>dharini@openrobotics.org</email>
  </author>

  <description>
    Example differential drive vehicle model.
  </description>
</model>